<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contacts - SPA</title>
        <script 
            src="https://code.jquery.com/jquery-3.7.1.min.js" 
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
            crossorigin="anonymous">
        </script>
    </head>
    <body>
        <div id="homePage">
            <ol>
                <li><a href="#" onclick="show_addPage()">Add Contact</a></li>
                <li><a href="#">Edit Contact</a></li>
                <li><a href="#">Read Contact</a></li>
                <li><a href="#">Delete Contact</a></li>
            </ol>
        </div>
        <div id="addPage" hidden>
            <table>
                {{ add_form.as_table }}
            </table>
            <input type="button" onclick="add()" value="Add Contact">
        </div>
        <div id="editPage" hidden>
            <strong>Edit Page - Under Construction</strong>
            <table>
                {{ edit_form.as_table }}
            </table>
            <input type="button" value="Edit Contact">
        </div>
        <div id="readPage" hidden>
            <input type="text" name="aadhar">
            <input type="button" value="Search Contact">
        </div>
        <div id="deletePage" hidden>
            <input type="text" name="aadhar">
            <input type="button" value="Delete Contact">
        </div>
        <script>
            function show_addPage(){
                $('#homePage').fadeOut();
                $('#addPage').show();
            }
            function add(){
                // AJAX Call to django views
            }
        </script>
    </body>
</html>